:root{
    --bg-dark01: #00000080;
}


#bodyConteiner{
    background-image: image-set('../midia/fundo-equipamentos-audio.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000;
    font-family: Arial;
    font-weight: bold;
}

#navbarConteiner{
    background-color: var(--bg-dark01);
}

#logoNavbar{
    padding-left: 0.1em;
    height: 1.5em;
}

#navbarSupportedContent{
    text-align: right;
}


#conteinerLinks{
    padding-left: 0.3em;
}
#navbarLinks{
    padding-left: 0.7em;
    padding-right: 0.7em;
    text-align: center;
}
#navbarLinks:hover{
    border-radius: 0.5em;
}
#navbarLogoCarrinho{
    padding: 0.1em;
    height: 2.5em;
}
#textoCarrinho{
    font-size: 1.2em;
    margin: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
/* Formatação especial para mobile */
.navbarLinksMOBILE{
    padding-top: 1.5em;
}

/* CONTEUDO 01 */
.rowConteudo01{
    justify-content: space-evenly;
}

.conteudo01Titulo{
    color: #fff;
    font-family: Arial;
    font-size: 2em;
    text-align: center;
}

.conteudo01Conteiner{
    background-color: var(--bg-dark01);
    padding-right: 3em;
    padding-left: 3em;
}

.conteinerFiltro{
    padding-top: 3em;
}

@media(max-width: 1300px) {
    .conteinerFiltro{
        display:flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}

.conteinerCardFiltro{
    background-color: var(--bg-dark01);
    min-width: 280px;
}

.optionsTitulo{
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.optionsTipoFiltro{
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
}

.selectFiltro{
    color: #fff;
    font-size: 0.9em;
    font-weight: normal;
    text-align: left;
    width: 100%;
    transition: 0.25s;
    border-radius: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.3em;
}

.selectFiltro:hover{
    background-color: #ffffff3a;
}

.textoBotaoRadio{
    padding-left: 0.5em;
    text-decoration: none;
    color: #fff;
    align-content: center;
}

.conteinerSubmitFiltro{
    text-align: center;
}
#submitFiltro{
    text-align: center;
    border-radius: 0.5em;
    border-width: 0em;
    background-color: var(--bg-dark01);
    color: #fff;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: 0.25s;
    width: 100%;
    box-shadow: none;
    border-width: 0.1em;
    border-color: #fff;
}
#submitFiltro:hover{
    color: #000;
    background-color: #fff;
}


/* LISTAGEM DE PRODUTOS */

.conteinerCatalogo{
    padding-top: 3em;
}
.listagemProdutos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-row-gap: 2em;
    grid-column-gap: 1em;
    padding-bottom: 1em;
}
.cardProduto{
    background-color: var(--bg-dark01);
    color: #fff;
    border-radius: 2em;
    padding: 1em;
}

.imagemProduto{
    border-radius: 2em;
    width: 100%;
}
.tituloProduto{
    padding-top: 1em;
    font-family: Arial;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}
.descricaoProduto{
    font-family: Arial;
    font-size: 1em;
    font-weight: normal;
    text-align: justify;
}
.precoProduto{
    font-family: Arial;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
.conteinerBotaoCarrinho{
    text-align: center;
}
.carrinhoProduto{
    text-align: center;
    border-radius: 0.5em;
    border-width: 0em;
    background-color: var(--bg-dark01);
    color: #fff;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: 0.25s;
    width: 100%;
    box-shadow: none;
    border-width: 0.1em;
    border-color: #fff;
}
.carrinhoProduto:hover{
    color: #000;
    background-color: #fff;
}

/* ##### CARRINHO ##### */
.conteinerCardCarrinho{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-row-gap: 2em;
    grid-column-gap: 1em;
    background-color: #00000000;
}
.cardCarrinho{
    background-color: var(--bg-dark01);
    color: #fff;
    border-radius: 2em;
    padding: 1em;
}
.imagemCarrinho{
    border-radius: 2em;
    width: 100%;
}
.tituloCarrinho{
    padding-top: 1em;
    font-family: Arial;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}
.descricaoCarrinho{
    font-family: Arial;
    font-size: 1em;
    font-weight: normal;
    text-align: justify;
}
.precoCarrinho{
    font-family: Arial;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
/* #### CARRINHO #### */


/* FOOTER */
.footerConteiner{
    background-color: #000;
    padding: 2em;
}
#logoFooter{
    width: 80%;
}
#textoLogoFooter{
    color: #ffffff8e;
    font-size: 1.2em;
}

.colunaFooter{
    color: #ffffffaa;
    text-align: left;
    text-align: center;
}

.tituloFooter{
    font-family: Arial;
    font-size: 1.2em;
    font-weight: bold;
}
.linksFooter{
    font-family: Arial;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    color:#ffffffaa;
}