:root{
    --bg-dark01: #00000080;
}


#bodyConteiner{
    background-image: image-set('../midia/fundo-equipamentos-audio.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000;
    font-family: Arial;
    font-weight: bold;
}

#navbarConteiner{
    background-color: var(--bg-dark01);
}

#logoNavbar{
    padding-left: 0.1em;
    height: 1.5em;
}

#navbarSupportedContent{
    text-align: right;
}


#conteinerLinks{
    padding-left: 0.3em;
}
#navbarLinks{
    padding-left: 0.7em;
    padding-right: 0.7em;
    text-align: center;
    transition: 0.25s;
}
#navbarLinks:hover{
    color: #fff;
}
/* Formatação especial para mobile */
.navbarLinksMOBILE{
    padding-top: 1.5em;
}



/* CONTEUDO 01 */
#conteudo01{
    padding-top: 15em;
    padding-bottom: 14em;
    text-align: center;
    background-color: var(--bg-dark01);
}
#conteudo01Subtitulo{
    color: #ffffff8e;
    padding-bottom: 0.5em;
}
#conteudo01Botao{
    border-color: #ffffff8e;
    border-width: 0.1em;
    background-color: #00000000;
    color: #ffffff8e;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 1.5em;
    box-shadow: none;
    transition: 0.25s;
}
#conteudo01Botao:hover{
    border-color: #fff;
    background-color: #00000080;
    color: #fff;
}


/* HR DIVISOR DE CONTEUDOS */
.divisaoConteudos{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-width: 0.15em;
    border-color: #ffffff;
    background-color: var(--bg-dark01);
}



/* CONTEUDO 02 */
#conteudo02{
    padding-bottom: 2em;
    background-color: var(--bg-dark01);
}
#conteudo02Conteiner{
    padding-left: 2em;
    padding-right: 2em;
}

.blocoConteudo02{
    padding-top: 1em;
    padding-bottom: 1em;
    transition: 0.1s;
}

.blocoConteudo02:hover{
    padding-top: 0em;   
}

.conteudo02Card{
    padding: 0.5em;
    background-color: var(--bg-dark01);
    border-radius: 3em;
}
.conteudo02Titulo{
    padding-bottom: 0.5em;
    color: #fff;
    font-size: 1.8em;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}
#imgAnuncio01{
    width: 100%;
    border-radius: 2.5em;
}

#imgAnuncio02{
    width: 100%;
    border-radius: 2.5em;
}

#imgAnuncio03{
    width: 100%;
    border-radius: 2.5em;
}

/* CONTEUDO 03 */

#conteudo03{
    padding: 2em;
    padding-bottom: 4em;
    background-color: var(--bg-dark01);
}
.tituloConteiner{
    padding-bottom: 0.5em;
    color: #fff;
    font-size: 1.8em;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}
.blocoConteudo03{
    padding-top: 2em;
    transition: 0.1s;
}
.blocoConteudo03:hover{
    padding: 0em;
}

.conteudo03Card{
    padding: 0.5em;
    background-color:  var(--bg-dark01);
    border-radius: 3em;
}


.categoriaImagem{
    border-radius: 2.5em;
}
.categoriaTitulo{
    color: #DBDADB;
    text-align: center;
    padding-top: 0.8em;
}
